.order-info-panel {
    margin-bottom: 5px;
}
.order-info-panel h2, .order-info-panel h3{
    margin-top: 5px;
    margin-bottom: 0px;
}

h4.order-item-price{
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
}

.order-good-counter{
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.order-good-counter .glyphicon{
    margin: 0px;
}
.order-good-counter .form-control{
    margin-left: 5px;
    margin-right: 5px;
    width: 60px;
}
.order-good-counter .input-group-btn{
    width: auto;
}
.order-good-counter .input-group-btn .btn{
    border-radius: 4px;
    font-weight: bold;
}