.value-interval{
    text-align: center;
}

.value-interval .glyphicon{

}

.value-interval input[type=text]
{
    display: inline;
    width: 37%;
    margin: 0px; 
}

.values-slider{
    height: 10px;
    margin: 15px;
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    box-shadow: none;
}
.noUi-base{
    border: 1px solid #DDDDDD;
}

.noUi-horizontal .noUi-handle{
    width: 17px;
    height: 16px;
    left: -10px;
    top: -5px;
    border-radius: 8px;
}
.noUi-horizontal .noUi-handle:before{
    left: 7px;
    top: 0px;
}
.noUi-horizontal .noUi-handle:after{
    display: none;
}
.noUi-connect{
    background: #5AA3E2;
}

.checklist{
    max-height: 200px;
    overflow-y: auto;

    border: 1px solid #ddd;
}
.checklist::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 0px;
    border-left: 1px solid #DDDDDD;
}
.checklist::-webkit-scrollbar {
    width: 9px;
}
.checklist::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 0 2px black;
}

.checked-list-box{
    border: 0px;
    border-radius: 0px;
}
.checked-list-box .list-group-item{
    border: 0px;
    padding: 5px 15px;
    border-radius: 0px;
}
.checked-list-box .list-group-item.active{
    background: rgb(231, 231, 231);
    color: #333;
}

/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

.btn-filter-collapse{
        display: none;
        margin-bottom: 5px;
}
@media (max-width: 992px) {
    .btn-filter-collapse{
        display: block;    
    }
}

@media (min-width: 992px) {
    #filterVidget{
        display: block !important;    
    }
}

.goods-listgroup{
    border-radius: 0px;
}
.goods-listgroup .list-group-item{
    padding: 10px;
    border-radius: 0px;
}

h3.goodname{
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h3.goodname a{
    color: #337ab7;
    text-decoration: underline;
}