.good-image{
    text-align: center;
}

.good-image img{
    max-width: 100%;
    max-height: 300px;
}

.list-group .row .col-md-3{
    padding-right: 0px;
}


.props-table td, .props-table th{
    border-top: 0px !important;
    border-bottom: 0px !important;
}
.props-table th{
    background-color: white !important;
}

.panel-body h2{
    margin-top: 5px;
    font-size: 35px;
}

.buy-btn{
    background: #35C435;
    border-color: #2F9B2F;
    padding-left: 25px;
    padding-right: 25px;
}

.feedbacks-list{
    padding: 5px;
}

.feedbacks-list .form-group{
    margin-bottom: 5px;
}

.feedbacks-list .list-group{
    margin-top: 5px;
}
.feedback-block{
    
}

.feedback-block h4.author{
    font-size: 15px;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: bold;
}

.goods-list .panel-body{
    padding: 0px;
    padding-top: 10px;
}

.goods-list .list-group-item{
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}