html{
    position: relative;
    min-height: 100%;
}
body{
    background-color: #FBFBFB;
}

a:hover{
    text-decoration: none;
}
h3 a, h2 a, h1 a{
    color: inherit;
}

.vidget-title{
    margin-top: 10px;
}

.breadcrumb li:last-child a{
    color: inherit;
}

.tab-content .panel{
    border-top-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.footer-inner{
    margin-top: 250px;
}
.footer{
    width:  100%;
    border-top: 1px solid #e7e7e7;
    background: #f8f8f8;
    position: absolute;
    bottom: 0;
    height: 230px;
}
.footer .footer-block{
    padding-top: 25px;
    font-size: 17px;
}

@media (max-width: 992px) {
    .affix {
        position: static;
    }
}

.thumbnail .good-info-rec{
    padding: 0px;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
  .thumbnail .good-info-rec{
    padding: 15px;
  }
  .tab-content .panel{
        border-top-width: 1px;
  }
}

.navbar{
    border-radius: 0px;
}
.navbar .divider-vertical {
    height: 49px;
    margin: 0 0px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #E3E2E2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

.list-group-item{
    border-radius: 0px !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
    z-index: 2;
    color: inherit;
    background-color: #F5F5F5;
    border-color: #DDDDDD;
    cursor: default;
}
.list-group-item.active .list-group-item-text, 
.list-group-item.active:hover .list-group-item-text, .list-group-item.active:focus .list-group-item-text{
    color: inherit;
}

.list-group-item a{
    text-decoration: none;
    color: inherit;
}

#main_menu{
    margin-bottom: 30px;
    box-shadow: 0 0 7px #848282;
    border-left: 0px;
    border-right: 0px;
}
#main_menu .navbar-nav>li>a
{
    padding-left: 15px;
    padding-right: 15px;
}

#main_menu .navbar-brand{
    padding: 1px;
    padding-left: 15px;
    padding-right: 40px;
}
#main_menu .navbar-brand img{
    height: 48px;
}

.navbar-top{
    margin-bottom: 0px;
    border: 0px;
    min-height: 32px;
    background: #EFEFEF;
    z-index: 1;
}

.navbar-top .navbar-nav>li>a{
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 32px;
}
.navbar-top .navbar-text{
    margin: 0px;
    line-height: 32px;
}

.page-header{
    margin-top: 0px;
}
.page-header h1{
    margin-top: 0px;
}

.glyphicon{
    margin-right: 0px;
}
.cart-btn{
    font-size: 17px;
}
.cart-btn .badge { background: #e9192e; padding: 4px 7px;}

.thumbnail{
    margin-bottom: 10px;
}
.thumbnail h3{
    margin-top: 5px;
    margin-bottom: 5px;
}
.thumbnail img{
    width: 100%;
}

.label, .badge{
    font-weight: normal;
    padding: 4px 7px;
}

.label-primary .badge{
    background: white;
    color: #337AB7;
}

.pagination{
    margin-top: 0px;
    margin-bottom: 5px;
}

.subcat-panel .list-group-item:first-child{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.cat-img{
    float: left;
    width: 40px;
    height: 40px;
}
.cat-text{
    /*padding-left: 43px;*/
}

.recom-good-item p{
    margin: 0px;
}

.record-set-items .btn{
    margin-top: 3px;
}

.info-list li{
    margin-bottom: 2px;
    color: rgb(161, 161, 161);
}
.info-list .info-text{
    color: #000;
}

.order-panel{
    margin-bottom: 5px;
}

.order-panel .panel-body{
    padding: 6px;
}

.tooltip-inner{
    padding: 5px 8px;
    color: #393333;
    text-align: center;
    background-color: #F7F7F9;
    border-radius: 4px;
}
.tooltip.bottom .tooltip-arrow{
    border-bottom-color: #DDD;     
}