.nodes-block{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    display: inline-block;
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
}

.nodes-block.list-nodes-block{
    border: 0px;
    background: none;
}

.nodes-block .node-item{
    margin:0px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.nodes-block.list-nodes-block  .node-item{
    border: 0px !important;
    padding: 5px;
    display: inline-table;
    vertical-align: top;
}

.nodes-block .node-item .help-block{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.node-item .node-img-block{
    display: block;
    height: 150px;
}
.node-item img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    margin: 0 auto;
    height: auto;
}

@media (max-width: 768px){
    .node-item .node-img-block{
        float: left;
        width: 150px;
    }
    .node-item{
        display: block;
        width: 100%;
    }
}
@media (min-width: 768px){
    .nodes-block .node-item{
        float: left;
        width: 50%;     
    }
    .nodes-block.list-nodes-block  .node-item{
        width: 100% ;
        float: none;
    }
    
    .nodes-block div.node-item:nth-child(2n) {
        border-right: none;
    }
}

@media (min-width: 992px){
    .nodes-block .node-item{
        float: left;
        width: 33.333333333%;     
    }
    .nodes-block.list-nodes-block  .node-item{
        width: 49% ;
        float: none;
    }
    .nodes-block div.node-item:nth-child(2n) {
        border-right: 1px solid #ddd;
    }
    .nodes-block div.node-item:nth-child(3n) {
        border-right: none;
    }
}

.node-item .good-name-text{
    font-size: 20px;
    height: 22px;
    overflow: hidden;
}
.node-item .price-info-text{
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 5px;
}

.nodes-block .node-item .thumbnail{
    border: 0px;
    padding: 5px 15px;
    padding-top: 8px;
}