#sync1 .item{
	margin: 0px;
	border-radius: 0px;
	height: auto;
    overflow: hidden;
    
}
#sync1 .item .panel{
    margin-bottom: 0px;
}
#sync1 .item h2{
    margin-top: 5px;
}

#sync1 .item img{
    width: 100%;
    display: block;
}

#sync1 .item h3{
    margin-top: 0px;
}

.owl-controls{
    position: absolute;
    right: 0px;
    top: -37px;
}


@media (max-width: 768px){
    .owl-controls{
        position: inherit;
        display: block;
        top: 0px;
    }
}
