.select2-container--default .select2-selection--single{
	height: 40px;
    line-height: 40px;
    border-radius: 0px;
    border: 0px;
	outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
	border: 0px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
	outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 39px;
}

.select2-dropdown{
	border-radius: 0px;
	border: 1px solid #DDD !important;
	margin: -1px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background: #D9534F;
}