.icon-inline{
	display: inline-block;
	width: 1.0em;
	height: 1.0em;
	background: url() 0 0 no-repeat;
	background-size: auto 100%;
    vertical-align: middle;
	text-transform: uppercase;
}

.icon-inline.cm{
	background-image: url('../games/cm.svg');
}

.icon-inline.battlenet{
	background-image: url('../games/battlenet.svg');
}

.icon-inline.wow{
	background-image: url('../games/wow.svg');
}

.icon-inline.sc2{
	background-image: url('../games/sc2.svg');
}