.navbar{
	margin-bottom: 15px;
}

.navbar-toggle{
	margin-right: 1.5px;
	border-radius: 0px;
}

.navbar-main{
    background: none;
    border: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.navbar-main .navbar-brand{
	height: 66px;
	max-width: 350px;
	display: block;
	float: none;
	padding: 0px 10px;
}

.navbar-main .navbar-brand img{
	max-height: 66px;
}


.navbar-main .navbar-nav{

}

.navbar-main .navbar-nav .divider-vertical{
    height: 63px;
    margin: 0 0px;
    border-left: 1px solid #E3E2E2;
}

@media (max-width: 767px){
	.navbar-main .navbar-nav .divider-vertical{
		display: none;
	}
}

@media (min-width: 768px){
	.navbar-main .navbar-nav>li>a{
		line-height: 49px;
		font-weight: bold;
		font-size: 17px;
		color: #363636;
		padding: 7.5px 19px;
	}
}
.navbar-main .nav>li>a:hover, .navbar-main .nav>li>a:focus{
	background: none;
	color: #E54242;
}

.navbar-main .navbar-nav>.active>a{
	background: none;
	color: #E54242;
}

.navbar-main .navbar-nav>.active>a:hover{
	background: none;
	color: #E54242;
}

.navbar-main .navbar-toggle{
	border-radius: 0px;
	color: white;
    background-color: #ae2d2b;
    border-color: #9a2826;
	margin-top: 13px;
	margin-right: 0px;
}
.navbar-main .navbar-toggle:hover, .navbar-main  .navbar-toggle:focus{
    color: #fff;
    background-color: #862321;
    border-color: #691b1a;
}