.player-panel{
	margin-bottom: 7px;
	
}
.player-panel .panel-body{
	padding: 10px 15px;
}

.player-panel .player-img{
	width: 50px;
	height: 50px;
	margin-right: 15px;
	margin-bottom: 10px;
	float: left;
}
.player-panel .player-img img{
	width: 50px;
}

@media (max-width: 767px){
	.player-panel .player-img{
		width: 35px;
		height: 35px;
	}
	.player-panel .player-img img{
		width: 35px;
	}
}

.player-panel .player-name{
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 21px;
	color: #363636;
}
.player-panel .player-name a{
	color: #363636;
}

.player-panel .player-name .label{
	padding: .3em .5em;
	font-weight: normal;
}


.panel-filter{
	margin-bottom: 0px;
	border-bottom-width: 0px;
}

.panel-filter:last-of-type{
	border-bottom-width: 1px;
}