hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

a, a:hover{
    text-decoration: none;
}

.navbar-collapse{
    padding-right: 0px;
}
@media (max-width: 767px){
    .navbar-collapse{
        padding-right: 20px;
    }
}

.list-group.navbar-collapse{
    padding-right: 0px;
}

/* адаптивное меню - средние разрешения */
.middle-collapse{
    overflow-x: visible;
    padding-right: 0px;
    padding-left: 0px;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    -webkit-overflow-scrolling: touch;
}

.middle-toggle{
    position: relative;
    float: right;
    border: 1px solid transparent;
    border-radius: 0px;
    padding: 8px 15px;
    line-height: 10px;
    text-align: center;
    margin: 0px;
    margin-top: -6px;
    margin-right: -6px;
    background: #ddd;
    color: #333;
}

@media (min-width: 992px){
    .middle-collapse{
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .middle-collapse.collapse{
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    
    .middle-toggle{
        display: none;
    }
}

/* блок, подстраивающийся под float элементы */
.float-block{
    
}
.float-block:after,.float-block:before{
    content: " ";
    display: table;
    clear: both;
}

/* колоночка с разделительной линией */
.col-bordered-right{
    border-right: 1px solid #ddd;
}
.col-bordered-left{
    border-left: 1px solid #ddd;
}

.vertical-col{
    margin-bottom: 5px;
}
.vertical-col:last-child{
    margin-bottom: 0px;
}

.list-group-item{
    padding: 5px 15px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
    color: #fff;
    background-color: #333333;
    border-color: #333333;
}

.text-primary{
	color: #D2423F;
}

.help-block{
	margin-bottom: 5px;
}

.label{
}
.label-info{
	background-color: #FFDB4D;
    box-shadow: inset 0 0 0 1px rgba(191,153,0,.8);
    color: #363636;
}
.label-default{
	box-shadow: inset 0 0 0 1px rgb(99, 99, 99);
}
.label-primary{
	background-color: #ECECEC;
    color: #EE4444;
}
.label-link{
	background: none;
	color: #363636;
}

.page-header{
	margin-top: 0px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.page-header h1{
	font-size: 20px;
	margin: 0px;
    margin-top: 5px;
}

h3.block-title{
    margin: 0px;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn.btn-default{
    color: #363636;
    background-color: #EAEAEA;
    border-color: #E7E7E7;
}
.btn.btn-default:hover{
    color: #F5F5F5;
    background-color: #1c1c1c;
    border-color: #171717;
}

/* список 3 элемента в линию */
.triple-list{
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    width: 100%;
}

.triple-list .list-item{
    float: left;
    width: 33.333333333%;
    margin: 0px;
    border-right: 1px solid #ddd;
    padding: 7px;
}

.triple-list .list-item:last-child{
    border-right: 0px;
    border-bottom: 0px;
}

@media (max-width: 767px){
    .triple-list .list-item{
        width: 100%;
        margin: 0px;
        border-right: 0px;
        border-bottom: 1px solid #ddd;
        padding: 7px;
    }
}

/* список 2 элемента в линию */
.double-list{
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    width: 100%;
}

.double-list .list-item{
    float: left;
    width: 50%;
    margin: 0px;
    border-right: 1px solid #ddd;
    padding: 7px;
}

.double-list .list-item:last-child{
    border-right: 0px;
    border-bottom: 0px;
}

@media (max-width: 767px){
    .double-list .list-item{
        width: 100%;
        margin: 0px;
        border-right: 0px;
        border-bottom: 1px solid #ddd;
        padding: 7px;
    }
}