/* кнопка раскрывающегося списка разделов профиля */
.profile-toggle{
    padding: 8px 15px;
    line-height: 10px;
    text-align: center;
    margin: 0px;
    margin-top: -6px;
    margin-right: -6px;
    background: #ddd;
    color: #333;
}

/* статус пользователя - профиль */
.user-status{
    color: #989898;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* блок с информацией о пользователе (город\дата рождения\...) - профиль */

.user-info-block{
    margin-bottom: 10px;
}

.user-info-block .user-avatar img{
    width: 100%;
    max-height: 350px;
}

@media (max-width: 767px){
    .user-info-block .user-avatar{
        padding-bottom: 10px;
        text-align: center;
    }
    
    .user-info-block .user-avatar img{
        width: 100%;
        max-height: 250px;
    }
}

.user-info-block .user-data-list{
    
}

.user-info-block .user-data-list .user-data-item{
    padding: 3px;
    padding-left: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #363636;
}

.user-info-block .user-data-list .user-data-item .item-title{
    float: left;
    max-width: 200px;
}

.user-info-block .user-data-list .user-data-item .item-text{
    padding-left: 200px;
    color: #DA423F;
}

@media (max-width: 767px){
    .user-info-block .user-data-list .user-data-item .item-title{
        float: none;
        display: inline;
        max-width: none;
    }
	.user-info-block .user-data-list .user-data-item .item-text{
        padding-left: 5px;
        display: inline;
    }
}

.user-info-block .user-data-list .user-data-item .item-text span.adv-text{
    color: #989898;
}

/* блок описания пользователя - профиль */

.user-desc-block{
    padding: 10px 15px;
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #EEEEEE;
    font-size: 14px;
}

/* виджет игровых профилей пользователя - профиль */

.user-players-list{
    background-color: #f5f5f5;
}

.user-players-list .item-image{
    width: 55px;
    height: 55px;
    float: left;
    position: relative;
}

.user-players-list .item-image img{
    width: 55px;
}

.user-players-list .item-image .item-game-icon{
    position: absolute;
    top: 32px;
    left: 40px;
    font-size: 20px;
}

.user-players-list .item-content{
    margin-left: 63px;
}

.user-players-list .item-content .player-title{
    color: #363636;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-players-list .item-content .player-game{
    font-size: 12px;
    color: #DA423F;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-players-list .item-content .player-advinfo{
    font-size: 12px;
    color: #98989B;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* виджет друзей пользователя - профиль */

.user-friends-list{
    background: white;
}

.user-friends-list .item-image{
    width: 55px;
    height: 55px;
    float: left;
    position: relative;
}

.user-friends-list .item-image img{
    width: 55px;
}
.user-friends-list .item-content{
    margin-left: 63px;
}

.user-friends-list .item-content .friend-title{
    color: #363636;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-friends-list .item-content .friend-friends{
    font-size: 12px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-friends-list .item-content .friend-location{
    font-size: 12px;
    color: #98989B;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* виджет кланов пользователя - профиль */
.user-clans-list{
    background-color: #f5f5f5;
}

.user-clans-list .item-image{
    width: 75px;
    height: 75px;
    float: left;
    position: relative;
}

.user-clans-list .item-image img{
    width: 75px;
}

.user-clans-list .item-content{
    margin-left: 83px;
}

.user-clans-list .item-content .clan-title{
    color: #363636;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-clans-list .item-content .clan-type{
    font-size: 12px;
    color: #98989B;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-clans-list .item-content .clan-games{
    font-size: 12px;
    color: #DA423F;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-clans-list .item-content .clan-users{
    font-size: 12px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* виджет фотографий пользователя - профиль */
.user-images-list{
    height: 150px !important;
    margin-bottom: 10px;
}

/* микроблог пользователя - профил */
.user-microblog{
    
}

.user-microblog .user-blog-note{
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background: white;
}

.user-microblog .user-blog-note .note-body{
    padding: 10px;
}

.user-microblog .user-blog-note .note-image{
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
}
.user-microblog .user-blog-note .note-image img{
    width: 40px;
}

.user-microblog .user-blog-note .note-info-block{
    margin-bottom: 5px;
    margin-left: 48px;
}

.user-microblog .user-blog-note .note-info-block .note-author{
    color: #DA423F;
    font-size: 16px;
}

.user-microblog .user-blog-note .note-info-block .note-votes{
    font-size: 20px;
    float: right;
}

.user-microblog .user-blog-note .note-info-block .note-date{
    color: #989898;
    font-size: 13px;
}

.user-microblog .user-blog-note .note-text-block{
    font-size: 14px;
    color: #333;
}

.user-microblog .user-blog-note .note-footer{
    padding: 5px;
}

.user-microblog .user-blog-note .note-comments{
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 5px;
}

.user-microblog .user-blog-note .note-comments .comment-block{
    margin-top: 5px;
    border-bottom: 1px solid #ddd;
    padding: 5px 0px;
    padding-right: 5px;
}
.user-microblog .user-blog-note .note-comments .comment-block:last-child{
    border-bottom: 0px;
}

.user-microblog .user-blog-note .note-comments .comment-block .comment-image{
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    margin-top: 3px;
}

.user-microblog .user-blog-note .note-comments .comment-block .comment-image img{
    width: 40px;
}

.user-microblog .user-blog-note .note-comments .comment-block .comment-content{
    margin-left: 48px;
}

.user-microblog .user-blog-note .note-comments .comment-block .comment-content .comment-author{
    color: #363636;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-microblog .user-blog-note .note-comments .comment-block .comment-content .comment-date{
    color: #989898;
    font-size: 13px;    
}

.user-microblog .user-blog-note .note-comments .comment-block .comment-content .comment-text{
    font-size: 14px;
    color: #333;
}

.user-microblog .user-blog-note .note-comments .comment-block .comment-content .comment-footer{
    margin-top: 5px;
    font-size: 13px;
}