.wow-profile-rec{

}

.wow-profile-rec .profile-img{
	width: 55px;
	height: 55px;
	float: left;
}
.wow-profile-rec .profile-img img{
	width: 55px;
}

.wow-profile-rec .profile-content{
	margin-left: 63px;
}

@media (max-width: 767px){
	.wow-profile-rec .profile-img{
		width: 30px;
		height: 30px;
	}
	.wow-profile-rec .profile-img img{
		width: 30px;
	}
	
	.wow-profile-rec .profile-content{
		margin-left: 36px;
	}
}

.wow-profile-rec .profile-content .profile-charname{
    color: #363636;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

.wow-profile-rec .profile-content .profile-undername{
    font-size: 12px;
    color: #DA423F;
	margin-bottom: 2px;
}

.wow-profile-rec .profile-content .profile-realm{
    color: #737373;
	font-size: 14px;
	margin: 0px;
}

.wow-profile-rec .rating-rec{
    margin-bottom: 1px;
    font-size: 14px;
    color: #363636;
}

.wow-profile-rec .rating-rec span.rating-val{
	color: #DA423F;
}

.wow-profile-rec .btn-armory{
	margin-bottom: 5px;
	margin-top: 5px;
}

.wow-profile-rec .icon-inline.achievments{
	background-image: url('../../games/wow/achievments.svg');
}

.wow-profile-rec .icon-inline.itemlevel{
	background-image: url('../../games/wow/itemlevel.svg');
}

.wow-profile-rec .icon-inline.arena{
	background-image: url('../../games/wow/arena.svg');
}